@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.header-icon {
  width: 45px;
  height: 45px;
  background-color: black;
  border-radius: 10px;
  float: left;
  overflow: hidden;

}

::selection {
  background: #006266; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #006266; /* Gecko Browsers */
}
.highlighted {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #006266 0%);
}

a:hover {
  background: linear-gradient(180deg, rgba(255,255,255,0) 50%, #006266 20%);
  text-decoration: none !important;
}

a:active { text-decoration: none; }

p{
  font-family: 'Open Sans', sans-serif;
  color: #D3D3D3;
}

.light{
  color: #f2efe5;
}

.green{
  color: #5e797a;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.special-a {
  color: black;
  text-decoration: none; /* no underline */
}

.special-a:hover {
  color: black;
  text-decoration: none; /* no underline */
}
